In [1]:
# Ch.3 내장 자료구조, 함수, 파일

In [3]:
# Tuple

tup=4,5,6
tup

(4, 5, 6)

In [4]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4,0,2]) # tuple로 바꿔주는 함수

(4, 0, 2)

In [10]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [13]:
tup[0]

's'

In [14]:
# tuple 은 변경이 불가능하다.
tup=tuple(['foo',[1,2],True])
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup.append(3)
tup

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [20]:
# tuple 이어붙이기
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [21]:
# tuple 값 분리
tup=(4,5,6)

In [22]:
a,b,c=tup
b

5

In [24]:
tup=4,5,(6,7)
a,b,(c,d)=tup

In [25]:
c

6

In [30]:
a,b=1,2
a

1

In [31]:
b

2

In [32]:
b,a=a,b

In [33]:
b

1

In [34]:
a

2

In [36]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [37]:
# tuple 메서드
a=(1,2,2,2,3,4,2)

In [40]:
a.count(2)

4

In [42]:
# list 튜블과 달리 내용, 크기 변경 가능
a_list=[2,3,None]
tup=('foo','bar','baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [44]:
b_list[1]='peakaboo'
b_list

['foo', 'peakaboo', 'baz']

In [45]:
gen=range(10)
gen

range(0, 10)

In [50]:
list(gen)

['foo', 'peakaboo', 'baz', 'dwarf', 'dwarf']

In [51]:
# 원소 추가하고 삭제하기
b_list.append('dwarf')
b_list

['foo', 'peakaboo', 'baz', 'dwarf', 'dwarf']

In [52]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'peakaboo', 'baz', 'dwarf', 'dwarf']

In [53]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf']

In [54]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf', 'foo']

In [55]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'dwarf', 'foo']

In [57]:
'dwarf' in b_list

True

In [59]:
'dwarf' not in b_list

False

In [60]:
# 리스트 이어붙이기
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [63]:
x=[4,None,'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [65]:
# 정렬
a=[7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [68]:
b=['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [69]:
# 슬라이싱
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [70]:
seq[3:4]=[6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [71]:
seq[:5]

[7, 2, 3, 6, 3]

In [72]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [73]:
seq[-4:]

[5, 6, 0, 1]

In [74]:
seq[-6:-2]

[6, 3, 5, 6]

In [75]:
seq[::2]

[7, 3, 3, 6, 1]

In [76]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [77]:
# sorted

sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [78]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [82]:
# zip 여러개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜풀의 리스트 생성
# zip 함수

seq1=['foo','bar','baz']
seq2=['one','two','three']
zipped=zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [83]:
seq2=[False,True]
list(zip(seq1,seq2,seq2))

[('foo', False, False), ('bar', True, True)]

In [84]:
pictures=[('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

In [86]:
first_name,last_names=zip(*pictures)
first_name

('Nolan', 'Roger', 'Schilling')

In [88]:
last_names

('Ryan', 'Clemens', 'Curt')

In [89]:
# reversed

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [90]:
# Dict
empty_dict={}
d1={'a':'some value','b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [91]:
d1[7]='an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [92]:
d1['b']

[1, 2, 3, 4]

In [95]:
'b in d1'

'b in d1'

In [103]:
d1[5]='some value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'anoter value',
 5: 'some value'}

In [104]:
d1['dummy']='anoter value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'anoter value',
 5: 'some value'}

In [105]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'anoter value'}

In [106]:
ret=d1.pop('dummy')  # 'dummy' 없에고 ret에 값 넣기
ret

'anoter value'

In [107]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [112]:
list(d1.keys())

['a', 'b', 7]

In [113]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [114]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [116]:
d1.update({'b':'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [117]:
# 순차 자료형에서 사전 생성하기
mapping=dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [119]:
# 기본값

words=['apple','bat','bar','atom','book']
by_letter={}

for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [120]:
# 유효한 사전 키
hash('string')

8531097615166528223

In [122]:
hash((1,2,(2,3)))

-9209053662355515447

In [123]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [125]:
d={}
d[(tuple([1,2,3]))]=5
d

{(1, 2, 3): 5}

In [126]:
# Set

In [128]:
set([2,2,3,1,3,3,])

{1, 2, 3}

In [129]:
{2,2,1,3,3,3}

{1, 2, 3}

In [130]:
a={1,2,3,4,5}
b={3,4,5,6,7,8,9}

In [131]:
a.union(b)  # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [132]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [133]:
a.intersection(b)  # 교집합

{3, 4, 5}

In [134]:
a&b

{3, 4, 5}

In [137]:
c=a.copy()
c|=b
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [139]:
d=a.copy()
d&=b
d

{3, 4, 5}

In [140]:
my_data=[1,2,3,4]
my_set={tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [142]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [143]:
a_set.issuperset({1,2,3})

True

In [144]:
{1,2,3}=={3,2,1}

True

In [147]:
# 리스트, 집합, 사전 표기법

In [152]:
strings=['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [153]:
unique_lengths={len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [154]:
# 중첩된 리스트 표기법
all_data=[['John','Emily','Michael',"Mary","steven"],["Maria","Juan","Matalia","Pilar"]]

In [155]:
result=[name for names in all_data for name in names if name.count('e')>=2]
result

['steven']

In [157]:
some_tuples =[(1,2,3),(4,5,6),(7,8,9)]

flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [159]:
# Function

In [160]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [161]:
my_function(5,6,0.7)

0.06363636363636363

In [163]:
### 네임스페이스, 스코프, 지역 함수

In [164]:
# 전역/지역 변수, 변수의 영역-네임스페이스
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [165]:
# 함수 내에서 선언: 지역 
# 네임 스페이스
# 함수 실행 끝: 사라짐
a=[]
def func():
    for i in range(5):
        a.append(i)

In [166]:
# Global: 전역 변수
a= None

def bind_a_variable():
    global a
    a=[]
bind_a_variable()
print(a)

[]

In [173]:
# 함수도 객체다
states=["Alabama","Gergia!","Georgia",'georgia',"Florida","southcarolina##","West virginia:"]
states

['Alabama',
 'Gergia!',
 'Georgia',
 'georgia',
 'Florida',
 'southcarolina##',
 'West virginia:']

In [181]:
import re

def clean_string(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[1#?]','',value)
        value=value.title()
        result.append(value)
    return result

In [182]:
clean_string(states)

['Alabama',
 'Gergia!',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia:']

In [183]:
# 익명 함수
def shor_function(x):
    return x*2
equiv_anon =lambda x: x*2

In [185]:
def apply_to_list(some_list,f):
    return[f(x) for x in some_list]

ints=[4,0,1,5,6]
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

In [186]:
strings=['foo','card',"bar","aaaa","abab"]

strings.sort(key=lambda x:len(set(list(x))))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [187]:
# 에러와 예외 처리
float('1.2345')

1.2345

In [189]:
float('someting')

ValueError: could not convert string to float: 'someting'

In [190]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [191]:
attempt_float('1.2345')

1.2345

In [192]:
attempt_float('something')

'something'

In [193]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [196]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [197]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [200]:
path='C:/Users/shinyoungmin/Desktop/segismundo.txt'
f=open(path)

In [204]:
lines=[x.rstrip() for x in open(path)]
lines

['Sue챰a el rico en su riqueza,',
 'que m찼s cuidados le ofrece;',
 '',
 'sue챰a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue챰a el que a medrar empieza,',
 'sue챰a el que afana y pretende,',
 'sue챰a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi처n,',
 'todos sue챰an lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [205]:
f.close()

In [206]:
with open(path) as f:
    lines=[x.rstrip()for x in f]

In [207]:
f=open(path)
f.read(10)

'Sue챰a el r'

In [208]:
f2=open(path,'rb') # 이진모드

f2.read(10)

b'Sue\xc3\xb1a el '

In [209]:
f.tell()

11

In [210]:
f.seek(3)

3

In [211]:
f.read(1)

'챰'

In [212]:
f.close()

In [214]:
f2.close()