11.1~

In [1]:
from datetime import datetime
# 시계열 데이터 처리를 도와주는 패키지를 import

In [5]:
now=datetime.now()
now
# 지금 시간

datetime.datetime(2021, 6, 27, 2, 59, 4, 11271)

In [6]:
now.year, now.month, now.day

(2021, 6, 27)

In [8]:
# 시간에서 뺄셈
d=datetime(2011,1,7)-datetime(2008,6,24,8,15)
d

datetime.timedelta(days=926, seconds=56700)

In [10]:
d=datetime(2008,7,23,6,26)-datetime(2011,1,7,5,2)
d

datetime.timedelta(days=-898, seconds=5040)

day는 음수가 나올 수 있지만, 초는 항상 양수가 나옴

In [11]:
d.days

-898

In [12]:
d.seconds

5040

In [13]:
start = datetime(2021,1,7)

In [16]:
from datetime import timedelta

In [18]:
start+timedelta(12)

datetime.datetime(2021, 1, 19, 0, 0)

In [19]:
start-2*timedelta(12)

datetime.datetime(2020, 12, 14, 0, 0)

In [21]:
stamp=datetime(2021,1,3)

In [22]:
str(stamp)

'2021-01-03 00:00:00'

문자열로 바꿈

In [23]:
stamp.strftime('%Y-%m-%d')

'2021-01-03'

날짜를 문자로

In [24]:
value='2021-01-03'

In [25]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2021, 1, 3, 0, 0)

 문자를 날짜로

In [26]:
datestrs=['1/7/2021','11/7/2021']

In [28]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2021, 1, 7, 0, 0), datetime.datetime(2021, 11, 7, 0, 0)]

In [31]:
from dateutil.parser import parse # parse 패키지 구문 분석

In [32]:
parse('2011-11-07')

datetime.datetime(2011, 11, 7, 0, 0)

In [33]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [34]:
parse('11/07/2021',dayfirst=True)

datetime.datetime(2021, 7, 11, 0, 0)

In [35]:
datestrs=['2021-01-07 12:00:00','2021-11-07-00:00:00']

In [36]:
import pandas as pd

In [38]:
pd.to_datetime(datestrs)

DatetimeIndex(['2021-01-07 12:00:00', '2021-11-07 00:00:00'], dtype='datetime64[ns]', freq=None)

In [39]:
idx=pd.to_datetime(datestrs+[None])
idx

DatetimeIndex(['2021-01-07 12:00:00', '2021-11-07 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.isnull(idx)

array([False, False,  True])

11.5~

In [43]:
p=pd.Period('2007',freq='A-DEC')

In [44]:
p

Period('2007', 'A-DEC')

Period 객체는 2007년 1월 1일부터 12월 31일 까지의 기간을 표현 정수 연산으로 빈도에 따라 기간 이동 가능

In [45]:
p+5

Period('2012', 'A-DEC')

In [46]:
p-2

Period('2005', 'A-DEC')

In [47]:
pd.Period('2014',freq='A-DEC')-p

In [48]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')

In [49]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

일반적인 기간범위는 period_range함수로 생성 가능

In [52]:
values=['2001Q3','2002Q2','2003Q1']

In [53]:
index=pd.PeriodIndex(values,freq='Q-DEC')

In [54]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

문자열 배열을 이용해 PeriodIndex 클래스를 생성 가능

In [55]:
p=pd.Period('2007',freq='A-DEC')

In [56]:
p

Period('2007', 'A-DEC')

In [57]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [58]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

기간과 PeriodIndex 객체는 asfreq 메서드를 통해 다른 빈도로 변환 가능
예시: 새해 첫날 부터 시작하는 연간 빈도를 월간 빈도로 변환

In [60]:
p=pd.Period('2007',freq='A-JUN')

In [61]:
p

Period('2007', 'A-JUN')

In [62]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [63]:
p.asfreq('M','end')

Period('2007-06', 'M')

Period('2007','A-DEC')는 전체 기간에 대한 커서로 생각할 수 있고 월간으로 다시 나눌 수 있다. 회계연도 마감이 12월이 아닌 경우에는 월간 빈도가 달라진다.

In [64]:
p=pd.Period('Aug-2007','M')

In [65]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

빈도가 상위 단계에서 하위 단계로 변환되는 경우 상귀 기간은 하위 기간이 어디에 속했는지에 따라 결정된다.

In [66]:
rng=pd.period_range('2006','2009',freq='A-DEC')

In [67]:
import numpy as np

In [68]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [69]:
ts

2006    0.796469
2007    0.191738
2008   -1.360923
2009   -1.683002
Freq: A-DEC, dtype: float64

In [70]:
ts. asfreq('M',how='start')

2006-01    0.796469
2007-01    0.191738
2008-01   -1.360923
2009-01   -1.683002
Freq: M, dtype: float64

위는 연 빈도가 해당 빈도의 시작 월부터 시작하는 월 빈도로 치환된다. 만일 매 해의 마지막 영업일을 대시 사용하고 싶다면, 'B'빈도를 사용하고 해당 기간의 종료 기간의 종료 짖점을 지정해서 변환할 수 있다.

In [72]:
ts. asfreq('B',how='end')

2006-12-29    0.796469
2007-12-31    0.191738
2008-12-31   -1.360923
2009-12-31   -1.683002
Freq: B, dtype: float64