In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import seaborn as sns

In [2]:
movies=pd.read_csv("movies.csv")

In [3]:
dacumentary=movies[movies.genre.isin(['다큐멘터리'])]

In [4]:
dacumentary=dacumentary.reset_index(inplace=False)

In [5]:
print(dacumentary.screening_rat.value_counts())

청소년 관람불가    46
15세 관람가     21
12세 관람가     10
전체 관람가       1
Name: screening_rat, dtype: int64

In [6]:
data=dacumentary.screening_rat

In [7]:
target=dacumentary.box_off_num

In [8]:
data_dumm=pd.get_dummies(data)

In [9]:
data_dumm

    12세 관람가  15세 관람가  전체 관람가  청소년 관람불가
0         0        0       0         1
1         0        0       0         1
2         0        1       0         0
3         1        0       0         0
4         0        1       0         0
..      ...      ...     ...       ...
73        0        1       0         0
74        0        0       0         1
75        0        0       0         1
76        1        0       0         0
77        0        1       0         0

[78 rows x 4 columns]

In [10]:
X=data_dumm.values
y=target.values

In [11]:
X.shape

(78, 4)

In [12]:
y.shape

(78,)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(X_train, y_train)

In [15]:
print("훈련 세트 점수:",lr.score(X_train, y_train))
print("테스트 세트 점수:",lr.score(X_test, y_test))

훈련 세트 점수: 0.3257559803901253
테스트 세트 점수: 0.008142021302115277

In [16]:
from sklearn.linear_model import Ridge

ridge = Ridge().fit(X_train, y_train)

In [17]:
print("훈련 세트 점수:",ridge.score(X_train, y_train))
print("테스트 세트 점수:",ridge.score(X_test, y_test))

훈련 세트 점수: 0.3385407160879793
테스트 세트 점수: 0.054261680325706774

In [18]:
ridge001 = Ridge(alpha=0.01).fit(X_train, y_train)

In [19]:
print("훈련 세트 점수:",ridge001.score(X_train, y_train))
print("테스트 세트 점수:",ridge001.score(X_test, y_test))

훈련 세트 점수: 0.34242614522808856
테스트 세트 점수: 0.05493829610530765

In [20]:
from sklearn.linear_model import Lasso

lasso = Lasso().fit(X_train, y_train)

In [21]:
print("훈련 세트 점수:",lasso.score(X_train, y_train))
print("테스트 세트 점수:",lasso.score(X_test, y_test))

훈련 세트 점수: 0.34242701299835565
테스트 세트 점수: 0.05495307680531669

In [22]:
lasso001 = Lasso(alpha=0.01).fit(X_train, y_train)

In [23]:
print("훈련 세트 점수:",lasso001.score(X_train, y_train))
print("테스트 세트 점수:",lasso001.score(X_test, y_test))

훈련 세트 점수: 0.34242701312032064
테스트 세트 점수: 0.05495441192315709

In [24]:
data=romance[['num_staff']]

In [25]:
data

    num_staff
0           0
1           0
2           9
3         324
4         315
..        ...
73          9
74          0
75          0
76        158
77         57

[78 rows x 1 columns]

In [26]:
X=data.values
y=target.values

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [28]:
ridge = Ridge().fit(X_train, y_train)

In [29]:
print("훈련 세트 점수:",ridge.score(X_train, y_train))
print("테스트 세트 점수:",ridge.score(X_test, y_test))

훈련 세트 점수: 0.404649605241734
테스트 세트 점수: 0.3309004022512263

In [30]:
rat=romance.screening_rat

In [31]:
rat_dumm=pd.get_dummies(rat)

In [32]:
rat_dumm

    12세 관람가  15세 관람가  전체 관람가  청소년 관람불가
0         0        0       0         1
1         0        0       0         1
2         0        1       0         0
3         1        0       0         0
4         0        1       0         0
..      ...      ...     ...       ...
73        0        1       0         0
74        0        0       0         1
75        0        0       0         1
76        1        0       0         0
77        0        1       0         0

[78 rows x 4 columns]

In [33]:
data

    num_staff
0           0
1           0
2           9
3         324
4         315
..        ...
73          9
74          0
75          0
76        158
77         57

[78 rows x 1 columns]

In [34]:
data=data.join(rat_dumm)

In [35]:
data

    num_staff  12세 관람가  15세 관람가  전체 관람가  청소년 관람불가
0           0        0        0       0         1
1           0        0        0       0         1
2           9        0        1       0         0
3         324        1        0       0         0
4         315        0        1       0         0
..        ...      ...      ...     ...       ...
73          9        0        1       0         0
74          0        0        0       0         1
75          0        0        0       0         1
76        158        1        0       0         0
77         57        0        1       0         0

[78 rows x 5 columns]

In [36]:
X=data.values
y=target.values

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [38]:
ridge = Ridge().fit(X_train, y_train)

In [39]:
print("훈련 세트 점수:",ridge.score(X_train, y_train))
print("테스트 세트 점수:",ridge.score(X_test, y_test))

훈련 세트 점수: 0.5333731936610593
테스트 세트 점수: 0.16556380233391788

In [40]:
time=romance[['time']]

In [41]:
data=data.join(time)

In [47]:
X=data.values
y=target.values

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [49]:
ridge = Ridge().fit(X_train, y_train)

In [50]:
print("훈련 세트 점수:",ridge.score(X_train, y_train))
print("테스트 세트 점수:",ridge.score(X_test, y_test))

훈련 세트 점수: 0.5063985657366823
테스트 세트 점수: 0.335528382141826

In [51]:
ridge = Ridge().fit(X, y)

In [52]:
ridge.score(X, y)

0.4622678793368662